/* Font Face: Roboto (Google Fonts) */
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format('woff2');
    font-weight: 400, 700;
    font-style: normal;
    font-display: swap;
}
/* custom */
@font-face {
    font-family: custom-font-name;
    src: url("url from the folder or link");
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #F7F7F5;
    font-family: 'Roboto', system-ui, sans-serif;
    /* smoothing the font */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* smooth scroll */
    scroll-behavior: smooth;
}

:root {
    --one-block-size: calc(100vw / 6);
}

a {
    text-decoration: none;
}

/* must have a parent container which have a dynamic width and height */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}




main {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #F7F7F5;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--one-block-size) * 0.1)  calc(var(--one-block-size) * 0.15);
    z-index: 999;
}
nav a {
    color: #363636;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: calc(calc(var(--one-block-size) * 0.0045) * -1);
    mix-blend-mode: color-dodge;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* border: 1px solid black; */
    padding: calc(var(--one-block-size) * 0.43525) 0; 
    /* works as a height of header */
}
ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--one-block-size) * 0.15);
    padding: calc(var(--one-block-size) * 0.1)  calc(var(--one-block-size) * 0.15);
}
li h1 {
    font-size: calc(var(--one-block-size) * 0.75);
    line-height: calc(var(--one-block-size) * 0.45);
    font-weight: 300;
    text-transform: uppercase;
    /* align-self: center; */
}
/* .two h1 {
    font-weight: 500;
    font-family: t; 
} */
li aside {
    width: calc(var(--one-block-size) * 0.85);
    /* font-size: calc(var(--one-block-size) * 0.0575); */
    font-size:  calc(var(--one-block-size) * 0.075);
    /* align-self: flex-start;  */
}
header span {
    padding: calc(var(--one-block-size) * 0.035) calc(var(--one-block-size) * 0.075);
    border-radius: 50%;
    border: calc(var(--one-block-size) * 0.00525) solid #363636;
    background-color: transparent;
    font-size: calc(var(--one-block-size) * 0.075);
    margin-top: calc(var(--one-block-size) * 0.05);
}
/* li span {
    align-self: flex-end
} */

figure {
    width: calc(var(--one-block-size) * 1);
    height: calc(var(--one-block-size) * 0.625);
}

/* section {
    position: relative;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid aqua;
}
section figure {
    width: calc(var(--one-block-size) * 1);
    height: calc(var(--one-block-size) * 0.625);
} */




.testing {
    position: relative;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    /* padding: calc(var(--one-block-size) * 0.9575) 0;  full page*/ 
    padding-top: calc(var(--one-block-size) * 0.375);
    padding-bottom: calc(var(--one-block-size) * 0.775);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid aqua; */
    font-size: calc(var(--one-block-size) * 0.225);
    text-transform: uppercase;
}
.testing li {
    gap: calc(var(--one-block-size) * 0.15);
    padding: calc(var(--one-block-size) * 0.025) 0;
}
.testing figure {
    width: calc(var(--one-block-size) * 0.45);
    height: calc(var(--one-block-size) * 0.25);
}
.testing .underline {
    border-bottom: calc(var(--one-block-size) * 0.015) solid #363636;
    cursor: pointer;
}
.testing .highlight {
    background-color: #F4FC08;
    padding: 0 calc(var(--one-block-size) * 0.025);
}


.porjects {
    position: relative;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    padding: calc(var(--one-block-size) * 0.25) calc(var(--one-block-size) * 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid aqua; */
    /* font-size: calc(var(--one-block-size) * 0.225);
    text-transform: uppercase; */
}
.porjects h1 {
    font-size: calc(var(--one-block-size) * 0.75);
    line-height: calc(var(--one-block-size) * 0.45);
    font-weight: 300;
    text-transform: uppercase;
}
.porjects ul {
    padding: calc(var(--one-block-size) * 0.25) 0;
}
.porjects li {
    border-top: calc(var(--one-block-size) * 0.015) solid #363636;
    justify-content: space-between;
    padding: calc(var(--one-block-size) * 0.15) 0;
    gap : calc(var(--one-block-size) * 0.15);
}
.porjects aside {
    /* background-color: #F4FC08; */
    width: calc((calc(100% - calc(var(--one-block-size) * 2.25)) - calc(var(--one-block-size) * 0.15)));
    height: calc(var(--one-block-size) * 1.5);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.buttons-container {
    /* background-color: aqua; */
    width: 100%;
}
.buttons-container button {
    padding: calc(var(--one-block-size) * 0.05) calc(var(--one-block-size) * 0.1);
    border-radius: calc(var(--one-block-size) * 0.1125);
    border: calc(var(--one-block-size) * 0.00525) solid #363636;
    background-color: transparent;
    font-size: calc(var(--one-block-size) * 0.075);
    margin-top: calc(var(--one-block-size) * 0.05);
}
.porjects li h2 , .porjects li a {
    /* font-size: calc(var(--one-block-size) * 0.185); */
    font-size: calc(var(--one-block-size) * 0.225);
    text-transform: uppercase;
    font-weight: 400;
}
.porjects li a svg {
    width: calc(var(--one-block-size) * 0.185);
    height: calc(var(--one-block-size) * 0.185);
}
.porjects li p {
    width: 60%;
    font-size:  calc(var(--one-block-size) * 0.075);
    margin: calc(var(--one-block-size) * 0.075) 0;
    text-transform: none;
}
.porjects ul li:last-child {
    border-bottom: calc(var(--one-block-size) * 0.015) solid #363636;
}
.porjects .line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.porjects figure {
    width: calc(var(--one-block-size) * 2.25);
    height: calc(var(--one-block-size) * 1.5);
}



footer {
    position: relative;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    padding: calc(var(--one-block-size) * 0.1)  calc(var(--one-block-size) * 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-medias, .copy-version {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--one-block-size) * 0.15);
}
.social-medias a {
    color: #363636;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    font-size: calc(var(--one-block-size) * 0.065);
}
.copy-version h3 {
    font-size: calc(var(--one-block-size) * 0.065);
    font-weight: 700;
    color: #363636;
}

.getintouch {
    position: relative;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    padding: 0 calc(var(--one-block-size) * 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: calc(var(--one-block-size) * 0.5);
}
.getintouch .top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.getintouch .top h1 {
    font-size: calc(var(--one-block-size) * 0.75);
    line-height: calc(var(--one-block-size) * 0.75);
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
.getintouch .top svg {
    width: calc(var(--one-block-size) * 0.5);
    height: calc(var(--one-block-size) * 0.5);
}
.getintouch button {
    padding: calc(var(--one-block-size) * 0.075) calc(var(--one-block-size) * 0.125);
    border-radius: calc(var(--one-block-size) * 0.275);
    border: calc(var(--one-block-size) * 0.00525) solid #363636;
    background-color: transparent;
    /* font-size: calc(var(--one-block-size) * 0.075); */
    font-size: calc(var(--one-block-size) * 0.225);
    margin-top: calc(var(--one-block-size) * 0.05);
    cursor: pointer;
}
/* .getintouch  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
/* .getintouch .contact {
    width: calc(var(--one-block-size) * 1.5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
} */
/* .getintouch .contact span {
    font-size:  calc(var(--one-block-size) * 0.075);
    margin-top: calc(var(--one-block-size) * 0.025);
} */
















.about {
    position: relative;
    left: 0;
    width: 100%;
    height: 101vh;
    padding: calc(var(--one-block-size) * 0.1)  calc(var(--one-block-size) * 0.15);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.about figure {
    position: absolute;
    /* background-color: #F4FC08; */
    width: 100%;
    height: 100%;
    z-index: 8;
}
.about p {
    width: 75%;
    font-size: calc(var(--one-block-size) * 0.225);
    text-align: center;
    z-index: 9;
    color: #F7F7F5;
    mix-blend-mode: color-dodge;
}





.tech-stack {
    position: relative;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    padding: calc(var(--one-block-size) * 0.5)  calc(var(--one-block-size) * 0.15);
    /* padding: calc(var(--one-block-size) * 0)  calc(var(--one-block-size) * 0.15); */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tech-stack h1 {
    font-size: calc(var(--one-block-size) * 0.75);
    /* line-height: calc(var(--one-block-size) * 0.75); */
    font-weight: 300;
    text-transform: uppercase;
}
.tech-stack #btn-width {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(var(--one-block-size) * 0.025);
    /* background-color: #F4FC08; */
    
}
.tech-stack #btn-width button {
    font-size: calc(var(--one-block-size) * 0.075);
}


.about-home {
    padding: 0; 
    height: 100vh;
}



/* Responsive Media Queries (Mobile-First) */
/* Phone view: up to 576px */
@media (max-width: 576px) {
    html, body {
        background-color: brown;
    }
    :root {
        --one-block-size: calc(100vw / 3.5);
    }
    .tech-stack h1 {
        /* font-size: calc(var(--one-block-size) * 0.75); */
        line-height: calc(var(--one-block-size) * 0.7);
        /* font-weight: 300; */
        /* text-transform: uppercase; */
        text-align: center;
    }
    .tech-stack #btn-width {
        width: 70%;
        /* display: flex; */
        /* align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: calc(var(--one-block-size) * 0.025); */
        /* background-color: #F4FC08; */
        margin-top: calc(var(--one-block-size) * 0.125);;
    }
}

/* Tablet view: 577px to 768px */
@media (min-width: 577px) and (max-width: 768px) {
    html, body {
        background-color: cadetblue;
    }
    :root {
        --one-block-size: calc(100vw / 3.5);
    }
    .tech-stack h1 {
        /* font-size: calc(var(--one-block-size) * 0.75); */
        line-height: calc(var(--one-block-size) * 0.7);
        /* font-weight: 300; */
        /* text-transform: uppercase; */
        text-align: center;
    }
    .tech-stack #btn-width {
        width: 70%;
        /* display: flex; */
        /* align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: calc(var(--one-block-size) * 0.025); */
        /* background-color: #F4FC08; */
        margin-top: calc(var(--one-block-size) * 0.125);;
    }
    
}